<div style="width: 100%; display: flex; justify-content: center;">
  <div class="form-container">
    <form [formGroup]="this.form">
      <div gsFormItem [valid]="this.form.get('projectName')!.valid!" 
      [touched]="this.form.get('projectName')!.touched!" 
      errorMessage="Project Name not valid" 
      class="form-item-container">
        <input 
          placeholder="Project Name"
          class="form-control form-item"
          name="username"
          formControlName="projectName"
        >
      </div>
      <div gsFormItem 
      [valid]="this.form.get('email')!.valid!" 
      [touched]="this.form.get('email')!.touched!" 
      errorMessage="Email not valid" class="form-item-container">
        <input 
          placeholder="Email"
          class="form-control form-item"
          name="email"
          formControlName="email"
        >
      </div>
      <div class="form-item-container">
        <select 
          class="form-control form-item" 
          name="subscription"
          formControlName="projectStatus"
        >
          <option *ngFor="let value of this.projectStatus" [value]="value">{{ value }}</option>
        </select>
      </div>
      <button [disabled]="form.invalid" class="submit-btn" (click)="this.submitForm()">Submit</button>
    </form>
  </div>
</div>
