<div style="width: 100%; display: flex; justify-content: center;">
  <div class="form-container">
    <form [formGroup]="this.form">
      <div gsFormControl class="form-item-container" [control]="this.form.get('projectName')" errorMessage="Project Name not valid">
        <input 
          placeholder="Project Name"
          class="form-control form-item"
          name="username"
          formControlName="projectName"
        >
      </div>
      <div gsFormControl class="form-item-container" [control]="this.form.get('email')" errorMessage="Email not valid">
        <input 
          placeholder="Email"
          class="form-control form-item"
          name="email"
          formControlName="email"
        >
      </div>
      <div class="form-item-container">
        <select 
          class="form-control form-item" 
          name="subscription"
          formControlName="projectStatus"
        >
          <option style="border: 0;" *ngFor="let value of this.projectStatus" [value]="value">{{ value }}</option>
        </select>
      </div>
      <button [disabled]="form.invalid" class="submit-btn" (click)="this.submitForm()">Submit</button>
    </form>
  </div>
</div>
